*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/Start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    height: 550px;
    width: 480px;
    background-color: rgba(169, 182, 236, 0.24);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(200, 195, 221, 0.13);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
    padding: 50px 35px;
}

form * {
    font-family: sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
}

::placeholder {
    color: #000000;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #1d1d426e;
    color: #000000;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.navigation {
    list-style-type: none;
    padding-left: 0px;
}

.navigation-item {
    float: left;
    padding-right: 15px;
}

.popup {
    width: 460px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 30%;
    left: 38%;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: visible;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 100%;
    box-shadow: 0 2px 5 px rgba(0, 0, 0, 0.2);
}

.popup * {
    font-family: arial;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}