.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    margin: 0;
    padding: 100px;
}

.navigation {
    list-style-type: none;
}

.navigation-item {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/* Button Group
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button.buchen:hover {
    background-color: #5454b96e;
}

.btn-group button.menu {
    background-color: #1d1d426e;
    border: 1px solid #1d1d426e;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: right;
}

.btn-group button.menu:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button.menu:hover {
    background-color: #5454b96e;
}

/* Make element full width */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

/* Make element full width */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

button.safe {
    margin-top: 5px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

button.safe:hover {
    background-color: #5454b96e;
}