<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <form method="POST" action="/login">
        <h3>Anmeldung</h3>
        
        <label for="e_mail">E-Mail</label>
        <input type="text" placeholder="Email" name="e_mail" id="e_mail" value="{% if e_mail != None %}{{ e_mail }}{% endif%}">

        <label for="pw">Passwort</label>
        <input type="password" placeholder="Passwort" name="pw" id="pw">

        <button>Anmelden</button>

        <ul class="navigation">
            <li class="navigation-item">
                <a href="/reg">Registrieren</a>
            </li>
            <li class="navigation-item">
                <a href="/booking">Passwort vergessen</a>
            </li>
        </ul>

        <br />
        {% if matching %}
        
        <h4 style="color: red;">Das angegebenen Passwort oder der Benutzername sind leider nicht korrekt!</h4>
        
        {% endif %}

        <br />
        <div class="popup" onclick="myFunction()"> Click me!
            <span class="popuptext" id="myPopup">Popup text...</span>
        </div>
    </form>
</body>

</html>