<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css" />
    <link rel="stylesheet" href="/static/mainpage.css" />

</head>

<body>
    <div class="container">
        <section class="header">
            <div class="row">
                <div class="six columns">
                    <p style="text-align: left;">Meine Fahrtenbuchungen</p>
                </div>
                <div class="six columns">
                    <ul class="navigation">
                        <li class="navigation-item">
                            <a href="/main">Meine Fahrtbuchungen</a>
                        </li>
                        <li class="navigation-item">
                            <a href="/booking">Fahrt buchen</a>
                        </li>
                        <li class="navigation-item">
                            <a href="/my_profile">Mein Profil</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--        &bnsp = Leerzeichen-->
            <!--        Absatz unter Links-->
            <!-- <div style="clear: both;">&nbsp;</div> -->
        </section>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th><u>Nr</u></th>
                    <th>Behandlungsstätte</th>
                    <th>Datum</th>
                    <th>Uhrzeit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bookings_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.behandlungsstaette }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.time }}</td>
                    <td><button>stornieren</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>





    </div>
</body>

</html>