<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/skeleton/normalize.css"/>
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css"/>
    <link rel="stylesheet" href="/static/mainpage.css"/>

</head>
<body>
    <div class="container">
        <section class="header">
            <div class="row">
                <div class="six columns">
                    <p style="text-align: left;">Meine Fahrtenbuchungen</p>
                </div>
                <div class="six columns">
                    <ul class="navigation">
                        <li class="navigation-item">
                            <a href="/booking">Fahrt buchen</a>
                        </li>
                        <li class="navigation-item">
                            <a href="/">Mein Profil</a>
                        </li>
                    </ul>
                </div>
            </div>
    <!--        &bnsp = Leerzeichen-->
    <!--        Absatz unter Links-->
            <!-- <div style="clear: both;">&nbsp;</div> -->
        </section>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th><u>Nr</u></th>
                    <th>Datum</th>
                    <th>Uhrzeit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hallo</td>
                    <td>Welt</td>
                    <td>26.05.2023</td>
                    <td>offen</td>
                </tr>
                <tr>
                    <td>DOM</td>
                    <td>GOD</td>
                    <td>26.05.2023</td>
                    <td>heilig</td>
                </tr>
            </tbody>
        </table>





    </div>
</body>
</html>