<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" href="/static/lib/skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css" /> -->
    <link rel="stylesheet" href="/static/main.css" />

</head>

<body>
    <div class="container">
        <div class="btn-group">
            <a href="/main"><button class="menu" style="background-color: #202047;">Meine Fahrten</button></a>
            <a href="/booking"><button class="menu">Fahrt buchen</button></a>
            <a href="/my_profile"><button class="menu">Mein Profil</button></a>
        </div>
        <form action="/main" method="POST">
            <h1>Meine Fahrtenbuchung</h1>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th><u>Nr</u></th>
                        <th>Behandlungsstätte</th>
                        <th>Datum</th>
                        <th>Uhrzeit</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bookings_list %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.behandlungsstaette }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.time }}</td>
                        <td>
                            <button onclick="deleteBooking(this)" name="cancel" id="cancel" value="{{ item.id }}">stornieren</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

</body>

</html>