<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css" />

</head>

<body>
    <div class="container">
        <div class="btn-group">
            <a href="/"><button class="menu">Ausloggen</button></a>
            <a href="/main"><button class="menu">Meine Fahrten</button></a>
            <a href="/booking"><button class="menu">Fahrt buchen</button></a>
            <a href="/my_profile"><button class="menu" style="background-color: #202047;">Mein Profil</button></a>
        </div>
        <label style="float:right">Fragen? Kontaktieren Sie uns: +00 420 1234567</label>
        <form method="POST" action="/myprof">
            <div class="container">
                <h1>Mein Profil</h1>
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <h2>Mein Profil bearbeiten</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Nachname</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Nachname" name="last_name" id="last_name"
                                    value="{% if last_name != None %}{{ last_name }}{% endif%}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Vorname</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Vorname" name="first_name" id="first_name"
                                    value="{% if first_name != None %}{{ first_name }}{% endif%}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Straße</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Straße" name="street" id="street"
                                    value="{% if street != None %}{{ street }}{% endif%}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Postleitzahl</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Postleitzahl" name="postal_code" id="postal_code"
                                    value="{% if postal_code != None %}{{ postal_code }}{% endif%}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Stadt</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Stadt" name="city" id="city"
                                    value="{% if city != None %}{{ city }}{% endif%}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Bundesland</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Bundesland" name="region" id="region"
                                    value="{% if region != None %}{{ region }}{% endif%}">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="safe" id="speichern" name="speichern" value="data">Speichern</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <h2>Passwort ändern</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Altes Passwort</label>
                            </td>
                            <td>
                                <input type="password" placeholder="Altes Passwort" name="old_pw" id="old_pw">
                                {% if matching %}
                                <br>
                                <label style="color: red;">Das angegebenen Passwort ist leider nicht korrekt!</label>

                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Neues Passwort</label>
                            </td>
                            <td>
                                <input type="password" placeholder="Neues Passwort" name="new_pw" id="new_pw">
                            </td>
                            {% if pw_neu_check %}
                            <br>
                            <h4 style="color: red;">Das Passwort muss mindestens 5 Zeichen lang sein, mindestens einen
                                Groß- und Kleinbuchstaben sowie eine Zahl entahlten</h4>
                            {% endif %}
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="safe" id="pw_ändern" name="pw_ändern" value="pw">Passwort ändern</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</body>

</html>