<!DOCTYPE html>
<html>

<head>
    <title>Fahrtenbuchung</title>
    <!-- <link rel="stylesheet" href="/static/lib/skeleton/normalize.css"/>
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css"/>
    <link rel="stylesheet" href="/static/mainpage.css"/> -->
    <link rel="stylesheet" href="/static/fahrtenbuchung2.css">
</head>

<body>
    <div class="btn-group">
        <a href="/main"><button class="menu">Meine Fahrten</button></a>
        <a href="/booking"><button class="menu" style="background-color: #202047;">Fahrt buchen</button></a>
        <a href="/my_profile"><button class="menu">Mein Profil</button></a>
    </div>

    </div>
    <section class="header">
        <!--        &bnsp = Leerzeichen-->
        <!--        Absatz unter Links-->
        <!-- <div style="clear: both;">&nbsp;</div> -->
    </section>
    <form method="POST" action="/book">
        <h1> Fahrtenbuchung </h1>

        <br>
        <br>
        <h2 align="center">Geben Sie hier das Datum und die Uhrzeit ihres Termines ein.</h2>
        <center>
            <input type="datetime-local" id="zeitpunkt" name="zeitpunkt" value="<?php echo $today; ?>" max="2050-12-31"
                min="2023-01-01" style="width: 500px">
            {% if datum_check %}

            <h4 style="color: red;">Bitte geben Sie ein gültiges Datum ein!</h4>

            {% endif %}
            {% if datum_check_2 %}

            <h4 style="color: red;">Das Datum muss in der Zukunft liegen!</h4>

            {% endif %}
            <br>
            <br>
            <h2>Behandlungsstätte</h2>
            <input align="center" type="text" name="ort" id="ort" placeholder="Behandlungsstätte" style="width: 500px">
            {% if ort_check %}

            <h4 style="color: red;">Bitte geben Sie einen Ort ein!</h4>

            {% endif %}
        </center>
        <br>
        <br>
        <div class="tabs">

            <div class="tab-2">
                <label for="tab2-1">Mit Transportschein</label>
                <input id="tab2-1" name="tabs-two" type="radio" value="1" checked>

                <div>
                    <h4 style="margin-left: 100%;">bitte füllen Sie den Transportschein so aus, wie Sie ihn vom Arzt
                        erhalten haben!</h4>

                    {% if tp_schein_check %}
                    <h4 style="color: red; margin-left: 100%;">Bitte füllen Sie den Transportschein vollständig aus!
                    </h4>

                    {% endif %}

                    <div class="tschein">
                        <div class="selection">
                            <label class="einsaeins" style="float:left">
                                <input class="einsaeins" type="radio" name="genehmingungsfrei" id="einsaeins" value="0">
                                <img />
                            </label>
                            <label class="einsazwei" style="float:right">
                                <input type="radio" name="genehmingungsfrei" id="einsazwei" value="1">
                                <img />
                            </label>
                            <label class="einsb" style="float:left">
                                <input type="radio" name="genehmingungsfrei" id="einsb" value="2">
                                <img />
                            </label>
                            <label class="einsc" style="float:left">
                                <input type="radio" name="genehmingungsfrei" id="einsc" value="3">
                                <img />
                            </label>
                            <input class="einsczwei" type="text" name="einsczwei" id="einsczwei">


                            <label class="einsd" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einsd" value="0">
                                <img />
                            </label>
                            <label class="einsdzwei" style="float:right">
                                <input type="radio" name="genehmingungspflicht" id="einsdzwei" value="1">
                                <img />
                            </label>
                            <label class="einse" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einse" value="2">
                                <img />
                            </label>
                            <label class="einsf" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einsf" value="3">
                                <img />
                            </label>


                        </div>
                    </div>
                    <div class="tschein_2">
                        <div class="selection">
                            <label class="zweieinsa" style="float:left">
                                <input type="radio" name="art" id="arta" value="0">
                                <img />
                            </label>
                            <label class="zweieinsb" style="float:left">
                                <input type="radio" name="art" id="artb" value="1">
                                <img />
                            </label>
                            <textarea cols="100" rows="2" class="zweieinsc" name="zweieinsc" id="zweieinsc"
                                style="resize: none"></textarea>
                            <label class="zweieinsd" style="float:left">
                                <input type="radio" name="art" id="artd" value="2">
                                <img />
                            </label>
                            <label class="zweieinse" style="float:left">
                                <input type="radio" name="art" id="arte" value="3">
                                <img />
                            </label>
                            <label class="zweieinsf" style="float:left">
                                <input type="radio" name="art" id="artf" value="4">
                                <img />
                            </label>
                            <input class="zweieinsg" type="text" name="zweieinsd" id="zweieinsd" style="float:right">
                            <input class="zweivier" type="text" name="zweivier" id="zweivier" style="float:left">

                            <label class="zweizweia" style="float:right">
                                <input type="radio" name="ausstatt" id="ausstatta" value="0">
                                <img />
                            </label>
                            <label class=" zweizweib" style="float:right">
                                <input type="radio" name="ausstatt" id="ausstattb" value="1">
                                <img />
                            </label>
                            <label class="zweizweic" style="float:right">
                                <input type="radio" name="ausstatt" id="ausstattc" value="2">
                                <img />
                            </label>

                        </div>
                    </div>


                </div>
                <script src="/static/script.js"></script>
            </div>
            <div class="tab-2">
                <label for="tab2-2">Auf Rechnung</label>
                <input id="tab2-2" name="tabs-two" type="radio" value="2" {% if tab_two %}checked{% endif%}>
                <div>
                    <h4>Barrierefreiheitsoption für die Fahrt</h4>
                    <input type="checkbox" name="check" id="barrierefrei" value="barrierefrei" onclick="onlyOne(this)">
                    barrierefrei
                    <br>
                    <input type="checkbox" name="check" id="nicht barrierefrei" value="nicht barrierefrei"
                        onclick="onlyOne(this)"> nicht barrierefrei
                    <br>
                    {% if rechnung_check %}
                    <h4 style="color: red;">Bitte wählen Sie eine der beiden Optionen!
                    </h4>
                    {% endif %}
                    <h4>Sonstige Angaben</h4>
                    <textarea rows="10" cols="80" name="kommentarfeld" id="kommentarfeld" style="resize: none"
                        placeholder="Sonstige Angaben"></textarea>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div align="center"><button class="buchen" onclick="checkRadio()">Buchen</button></div>
    </form>


</body>

</html>