<!DOCTYPE html>
<html>

<head>
    <title>Fahrtenbuchung</title>
    <link rel="stylesheet" href="/static/fahrtenbuchung2.css">
</head>

<body>
    <h1> Fahrtenbuchung </h1>
    <form method="POST" action="/book">
        <div align="center" method="POST">
            <br>
            <br>
            <h2 for="start">Geben Sie hier das Datum und die Uhrzeit ihres Termines ein.</h2>
            <input type="datetime-local" id="datetime" name="datetime" value="<?php echo $today; ?>" max="2050-12-31"
                min="2023-01-01">
            <input type="submit">

            <br>
            <br>
        </div>
        <div class="tabs">

            <div class="tab-2">
                <label for="tab2-1">Mit Transportschein</label>
                <input id="tab2-1" name="tabs-two" type="radio" checked="checked">

                <div>
                    <h4>bitte füllen Sie den Transportschein so aus, wie Sie ihn vom Arzt erhalten haben.</h4>

                    <input type="text" placeholder="Email" name="e_mail" id="e_mail">
                    <input type="submit">

                    <div class="tschein">
                        <div class="selection">
                            <label class="einsaeins" style="float:left">
                                <input class="einsaeins" type="radio" name="genehmingungsfrei" id="einsaeins" value="1">
                                <img />
                            </label>
                            <label class="einsazwei" style="float:right">
                                <input type="radio" name="genehmingungsfrei" id="einsazwei" value="2">
                                <img />
                            </label>
                            <label class="einsb" style="float:left">
                                <input type="radio" name="genehmingungsfrei" id="einsb" value="3">
                                <img />
                            </label>
                            <label class="einsc" style="float:left">
                                <input type="radio" name="genehmingungsfrei" id="einsc" value="4">
                                <img />
                            </label>
                            <input class="einsczwei" type="text" name="einsczwei" id="einsczwei">


                            <label class="einsd" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einsd" value="1">
                                <img />
                            </label>
                            <label class="einsdzwei" style="float:right">
                                <input type="radio" name="genehmingungspflicht" id="einsdzwei" value="2">
                                <img />
                            </label>
                            <label class="einse" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einse" value="3">
                                <img />
                            </label>
                            <label class="einsf" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einsf" value="4">
                                <img />
                            </label>
                        </div>
                    </div>





                </div>
            </div>
            <div class="tab-2">
                <label for="tab2-2">Auf Rechnung</label>
                <input id="tab2-2" name="tabs-two" type="radio">
                <div>
                    <h4>Tab Two</h4>
                    <p>Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque varius elit in neque ornare
                        commodo
                        ac non tellus. Mauris id iaculis quam. Donec eu felis quam. Morbi tristique lorem eget iaculis
                        consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Aenean at tellus eget risus tempus ultrices. Nam condimentum nisi enim, scelerisque
                        faucibus lectus sodales at.</p>
                </div>
            </div>
        </div>
    </form>
</body>

</html>