<!DOCTYPE html>
<html>

<head>
    <title>Fahrtenbuchung</title>
    <link rel="stylesheet" href="/static/fahrtenbuchung2.css">
</head>

<body>
    <h1> Fahrtenbuchung </h1>
    <form method="GET" action="/booking">
        <div align="center" method="POST">
            <br>
            <br>
            <h2 for="start">Geben Sie hier das Datum und die Uhrzeit ihres Termines ein.</h2>
            <input type="datetime-local" id="datetime" name="zeitpunkt" value="<?php echo $today; ?>" max="2050-12-31"
                min="2023-01-01">
            <h2 for="start">Behandlungsstätte</h2>
            <input type="text" name="ort">
            <br>
            <br>
        </div>
        <div class="tabs">

            <div class="tab-2">
                <label for="tab2-1">Mit Transportschein</label>
                <input id="tab2-1" name="tabs-two" type="radio" checked="checked">

                <div>
                    <h4>bitte füllen Sie den Transportschein so aus, wie Sie ihn vom Arzt erhalten haben.</h4>

                    <input type="text" placeholder="Email" name="e_mail" id="e_mail">
                    <input type="submit">

                    <div class="tschein">
                        <div class="selection">
                            <label class="einsaeins" style="float:left">
                                <input class="einsaeins" type="radio" name="genehmingungsfrei" id="einsaeins" value="1">
                                <img />
                            </label>
                            <label class="einsazwei" style="float:right">
                                <input type="radio" name="genehmingungsfrei" id="einsazwei" value="2">
                                <img />
                            </label>
                            <label class="einsb" style="float:left">
                                <input type="radio" name="genehmingungsfrei" id="einsb" value="3">
                                <img />
                            </label>
                            <label class="einsc" style="float:left">
                                <input type="radio" name="genehmingungsfrei" id="einsc" value="4">
                                <img />
                            </label>
                            <input class="einsczwei" type="text" name="einsczwei" id="einsczwei">


                            <label class="einsd" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einsd" value="1">
                                <img />
                            </label>
                            <label class="einsdzwei" style="float:right">
                                <input type="radio" name="genehmingungspflicht" id="einsdzwei" value="2">
                                <img />
                            </label>
                            <label class="einse" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einse" value="3">
                                <img />
                            </label>
                            <label class="einsf" style="float:left">
                                <input type="radio" name="genehmingungspflicht" id="einsf" value="4">
                                <img />
                            </label>
                            <button onclick="checkRadio()">Check Radio</button>


                        </div>
                    </div>
                    <div class="tschein_2">
                        <div class="selection">
                            <label class="zweieinsa" style="float:left">
                                <input type="radio" name="art" id="arta" value="1">
                                <img />
                            </label>
                            <label class="zweieinsb" style="float:left">
                                <input type="radio" name="art" id="artb" value="2">
                                <img />
                            </label>
                            <textarea cols="100" rows="2" class="zweieinsc" name="zweieinsc" id="zweieinsc"
                                style="resize: none"></textarea>
                            <label class="zweieinsd" style="float:left">
                                <input type="radio" name="art" id="artd" value="3">
                                <img />
                            </label>
                            <label class="zweieinse" style="float:left">
                                <input type="radio" name="art" id="arte" value="4">
                                <img />
                            </label>
                            <label class="zweieinsf" style="float:left">
                                <input type="radio" name="art" id="artf" value="5">
                                <img />
                            </label>
                            <input class="zweieinsg" type="text" name="zweieinsd" id="zweieinsd" style="float:right">
                            <input class="zweivier" type="text" name="zweivier" id="zweivier" style="float:left">

                            <label class="zweizweia" style="float:right">
                                <input type="radio" name="ausstatt" id="ausstatta" value="1">
                                <img />
                            </label>
                            <label class=" zweizweib" style="float:right">
                                <input type="radio" name="ausstatt" id="ausstattb" value="2">
                                <img />
                            </label>
                            <label class="zweizweic" style="float:right">
                                <input type="radio" name="ausstatt" id="ausstattc" value="3">
                                <img />
                            </label>

                        </div>
                    </div>

                    <script src="/static/script.js"></script>

                </div>
            </div>
            <div class="tab-2">
                <label for="tab2-2">Auf Rechnung</label>
                <input id="tab2-2" name="tabs-two" type="radio">
                <div>
                    <h4>Barrierefreiheitsoption für die Fahrt</h4>
                    <input type="checkbox" name="check" id="barrierefrei" value="barrierefrei" onclick="onlyOne(this)">
                    barrierefrei
                    <br>
                    <input type="checkbox" name="check" id="nicht barrierefrei" value="barrierefrei"
                        onclick="onlyOne(this)"> nicht barrierefrei
                    <br>
                    <h4>Sonstige Angaben</h4>
                    <textarea rows="10" cols="80" name="comment" id="kommentarfeld" form="usrform"
                        placeholder="Sonstige Angaben"></textarea>
                </div>
                <script src="/static/script.js"></script>
            </div>
            <script src="/static/script.js"></script>
        </div>

    </form>
</body>



</html>