<!DOCTYPE html>
<html>

<head>
    <title>Registrierung</title>
    <!-- <link rel="stylesheet" href="/static/lib/skeleton/normalize.css"/>
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css"/> -->
    <link rel="stylesheet" href="/static/registration.css">
    <script src="/static/script.js"></script>   
</head>


<body>
    <form method="POST" action="/registration">
        <h3>Registrierung</h3>
        {% if vollstaendig %}
        <h4 style="color: red;">Bitte füllen Sie alle Felder vollständig aus</h4>
        {% endif %}
        <div style="float:left">
            <br\>

                <label>Nachname</label>
                <input type="text" placeholder="Nachname" name="last_name" id="last_name"
                    value="{% if last_name != None %}{{ last_name }}{% endif%}">

                <label>Bundesland</label>
                <input type="text" placeholder="Bundesland" name="region" id="region"
                    value="{% if region != None %}{{ region }}{% endif%}">


                <label>Stadt</label>
                <input type="text" placeholder="Stadt" name="city" id="city"
                    value="{% if city != None %}{{ city }}{% endif%}">

                <label>Passwort</label>
                <input type="password" placeholder="Passwort" name="pw" id="pw">

                {% if pw_matching == "Invalid" %}
                <h4 class="invalid" style="color: red;">Passwörter stimmen nicht überein!</h4>
                {% endif %}
                {% if pw_length %}
                <h4 style="color: red;">Das Passwort muss mindestens 5 Zeichen lang sein <br> eine Zahl entahlten
                </h4>
                {% endif %}

                <label>E-Mail</label>
                <input type="text" placeholder="Email" name="e_mail" id="e_mail"
                    value="{% if e_mail != None %}{{ e_mail }}{% endif%}">

                {% if e_mail_exists == "Invalid" %}
                <h4 class="invalid" style="color: red;">E-Mail existiert bereits!</h4>
                {% endif %}

        </div>

        <div style="float:right">
            <label>Vorname</label>
            <input type="text" placeholder="Vorname" name="first_name" id="first_name"
                value="{% if first_name != None %}{{ first_name }}{% endif%}">


            <label>Postleitzahl</label>
            <input type="text" placeholder="Postleitzahl" name="postal_code" id="postal_code"
                value="{% if postal_code != None %}{{ postal_code }}{% endif%}">

            <label>Straße & Hausnummer</label>
            <input type="text" placeholder="Straße" name="street" id="street"
                value="{% if street != None %}{{ street }}{% endif%}">

            <label>Passwort wiederholen</label>
            <input type="password" placeholder="Passwort wiederholen" name="pw_w" id="pw_w">
            {% if pw_length %}
            <h4 style="color: red;">mindestens einen Groß- und Kleinbuchstaben sowie</h4>
            {% endif %}

            <!-- onclick="registration('{{vollstaendig}}' )" -->
            <button>Registrieren</button>

            <ul class="navigation">
                <li class="navigation-item">
                    <a href="/">Login</a>
                </li>
                <li class="navigation-item">
                    <a href="/booking">Passwort vergessen</a>
                </li>
            </ul>
        </div>

    </form>
</body>

</html>